### Load libraries

In [109]:
import pandas as pd
from datetime import datetime
from datetime import date

### Store ID relation

In [110]:
store_id_rel = pd.read_csv('store_id_relation.csv')
store_id_rel.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

In [111]:
len(store_id_rel)

150

In [112]:
print(len(store_id_rel['air_store_id'].unique()))
print(len(store_id_rel['hpg_store_id'].unique()))

150
150

### Air store Info

In [113]:
air_store_info = pd.read_csv('air_store_info.csv')
air_store_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [114]:
len(air_store_info)

829

In [115]:
len(air_store_info['air_store_id'].unique())

829

In [116]:
air_store_info['air_genre_name'].value_counts()

Izakaya                         197
Cafe/Sweets                     181
Dining bar                      108
Italian/French                  102
Bar/Cocktail                     79
Japanese food                    63
Other                            27
Yakiniku/Korean food             23
Western food                     16
Okonomiyaki/Monja/Teppanyaki     14
Creative cuisine                 13
Asian                             2
Karaoke/Party                     2
International cuisine             2
Name: air_genre_name, dtype: int64

In [117]:
len(air_store_info['air_area_name'].unique())

103

### Air visit data

In [118]:
air_visit_data = pd.read_csv('air_visit_data.csv')
air_visit_data.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [119]:
air_visit_data.tail()

                air_store_id  visit_date  visitors
252103  air_24e8414b9b07decb  2017-04-18         6
252104  air_24e8414b9b07decb  2017-04-19         6
252105  air_24e8414b9b07decb  2017-04-20         7
252106  air_24e8414b9b07decb  2017-04-21         8
252107  air_24e8414b9b07decb  2017-04-22         5

In [120]:
len(air_visit_data)

252108

In [121]:
len(air_visit_data['air_store_id'].unique())

829

In [122]:
len(air_visit_data['visit_date'].unique())

478

In [123]:
air_visit_data['visitors'].describe()

count    252108.000000
mean         20.973761
std          16.757007
min           1.000000
25%           9.000000
50%          17.000000
75%          29.000000
max         877.000000
Name: visitors, dtype: float64

### Air Reserve

In [124]:
air_reserve = pd.read_csv('air_reserve.csv')
air_reserve.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [125]:
len(air_reserve)

92378

In [126]:
air_reserve.dtypes

air_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors     int64
dtype: object

In [127]:
len(air_reserve['air_store_id'].unique())

314

In [128]:
air_reserve['reserve_visitors'].describe()

count    92378.000000
mean         4.481749
std          4.919669
min          1.000000
25%          2.000000
50%          3.000000
75%          5.000000
max        100.000000
Name: reserve_visitors, dtype: float64

In [129]:
air_reserve['visit_datetime'] = pd.to_datetime(air_reserve['visit_datetime'], errors='coerce')
air_reserve['reserve_datetime'] = pd.to_datetime(air_reserve['reserve_datetime'], errors='coerce')

In [130]:
air_reserve['visit_datetime'] = air_reserve['visit_datetime'].dt.strftime('%Y-%m-%d')
air_reserve['reserve_datetime'] = air_reserve['reserve_datetime'].dt.strftime('%Y-%m-%d')

### Date info

In [131]:
date_info = pd.read_csv('date_info.csv')
date_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [132]:
len(date_info)

517

In [133]:
print(date_info.iloc[0])
print(date_info.iloc[516])

calendar_date    2016-01-01
day_of_week          Friday
holiday_flg               1
Name: 0, dtype: object
calendar_date    2017-05-31
day_of_week       Wednesday
holiday_flg               0
Name: 516, dtype: object

In [134]:
date_info['holiday_flg'].value_counts()

0    482
1     35
Name: holiday_flg, dtype: int64

In [135]:
date_info = date_info.rename(columns={'calendar_date': 'visit_date'})

In [136]:
date_info.columns

Index(['visit_date', 'day_of_week', 'holiday_flg'], dtype='object')

### HPG reserve

In [137]:
hpg_reserve = pd.read_csv('hpg_reserve.csv')
hpg_reserve.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [138]:
len(hpg_reserve)

2000320

In [139]:
len(hpg_reserve['hpg_store_id'].unique())

13325

In [140]:
hpg_reserve['reserve_visitors'].describe()

count    2.000320e+06
mean     5.073785e+00
std      5.416172e+00
min      1.000000e+00
25%      2.000000e+00
50%      3.000000e+00
75%      6.000000e+00
max      1.000000e+02
Name: reserve_visitors, dtype: float64

### HPG store info

In [141]:
hpg_store_info = pd.read_csv('hpg_store_info.csv')
hpg_store_info.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [142]:
len(hpg_store_info)

4690

In [143]:
len(hpg_store_info['hpg_store_id'].unique())

4690

In [144]:
hpg_store_info['hpg_genre_name'].value_counts()

Japanese style                  1750
International cuisine            700
Creation                         410
Seafood                          339
Grilled meat                     325
Italian                          249
Spain Bar/Italian Bar            229
Chinese general                   91
Japanese food in general          85
Japanese cuisine/Kaiseki          64
Karaoke                           60
Creative Japanese food            60
Shabu-shabu/Sukiyaki              59
Okonomiyaki/Monja/Teppanyaki      44
Party                             40
Korean cuisine                    38
French                            27
Steak/Hamburger/Curry             24
Bistro                            22
Cafe                              16
Sushi                             11
Pasta/Pizza                       10
Bar/Cocktail                       7
Western food                       5
Thai/Vietnamese food               5
Amusement bar                      5
Cantonese food                     4
Sichuan food                       3
Sweets                             2
Dim Sum/Dumplings                  2
Shanghai food                      1
Spain/Mediterranean cuisine        1
Taiwanese/Hong Kong cuisine        1
Udon/Soba                          1
Name: hpg_genre_name, dtype: int64

In [145]:
hpg_store_info['hpg_area_name'].value_counts()

Tōkyō-to Shinjuku-ku None                    257
Tōkyō-to Chūō-ku Ginza                       198
Hyōgo-ken Kōbe-shi None                      163
Ōsaka-fu Ōsaka-shi Shinsaibashisuji          150
Osaka Prefecture Osaka None                  145
Hiroshima-ken Hiroshima-shi Hondōri          135
Tōkyō-to Shibuya-ku None                     127
Tōkyō-to Minato-ku Takanawa                  122
Tōkyō-to Toshima-ku None                     119
None None None                               117
Tōkyō-to Hachiōji-shi Ishikawamachi          114
Hokkaidō Sapporo-shi Minami 4 Jōnishi        110
Tōkyō-to Taitō-ku None                       100
Fukuoka-ken Fukuoka-shi None                  90
Shizuoka-ken Hamamatsu-shi Sukenobuchō        90
Tōkyō-to Chiyoda-ku None                      89
Tōkyō-to Sumida-ku Tachibana                  86
Tōkyō-to Chūō-ku None                         86
Hokkaidō Sapporo-shi None                     84
Shizuoka-ken Shizuoka-shi Hinodechō           79
Tōkyō-to Minato-ku Roppongi                   78
Tōkyō-to Machida-shi Nakamachi                74
Miyagi-ken Sendai-shi Ichibanchō              73
Fukuoka-ken Fukuoka-shi Hakata Ekimae         66
Ōsaka-fu Ōsaka-shi Awajimachi                 66
Fukuoka-ken Kitakyūshū-shi Sunatsu            65
Hyōgo-ken Himeji-shi Tsuchiyama               63
Kanagawa-ken Yokohama-shi Nagatsutachō        61
Hiroshima-ken Hiroshima-shi Yokogawachō       60
Tōkyō-to Shibuya-ku Ebisunishi                58
                                            ...
Tōkyō-to Meguro-ku Jiyūgaoka                   8
Tōkyō-to Fussa-shi Musashinodai                7
Tōkyō-to Hino-shi Ochikawa                     7
Tōkyō-to Setagaya-ku None                      6
Shizuoka-ken Shizuoka-shi Irie                 5
Ōsaka-fu Ōsaka-shi Hannanchō                   5
Ōsaka-fu Ōsaka-shi Izuo                        5
Hokkaidō Sapporo-shi Sumikawa 2 Jō             5
Fukuoka-ken Chikushino-shi Yamaguchi           5
Miyagi-ken Sendai-shi Miyamachi                4
Tōkyō-to Itabashi-ku Maenochō                  4
Miyagi-ken Ōsaki-shi Furukawa                  4
Miyagi-ken Sendai-shi Izumizaki                4
Tōkyō-to Koganei-shi Kajinochō                 4
Hokkaidō Asahikawa-shi Higashi 6 Jō            4
Miyagi-ken Shiogama-shi Shōyōdai               3
Tōkyō-to Meguro-ku Takaban                     3
Fukuoka-ken Fukuoka-shi Matsushima             3
Niigata-ken Jōetsu-shi Minamitaya Shinden      3
Ōsaka-fu Sakai-shi Kobirao                     2
Niigata-ken Shibata-shi Miyukichō              2
Fukuoka-ken Iizuka-shi Mashiki                 2
Shizuoka-ken Fujinomiya-shi Wakanomiyachō      2
Shizuoka-ken Itō-shi Ogi                       2
Niigata-ken Niigata-shi Kurumaba               2
Niigata-ken Niigata-shi Meike                  2
Ōsaka-fu Minoo-shi Hanjo                       1
Niigata-ken Nagaoka-shi Rokusho                1
Hokkaidō Ashibetsu-shi None                    1
Tōkyō-to Shinagawa-ku Koyama                   1
Name: hpg_area_name, Length: 119, dtype: int64

### Sample submission

In [146]:
sample = pd.read_csv('sample_submission.csv')
sample.head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [147]:
len(sample)

32019

In [148]:
sample.tail()

                                    id  visitors
32014  air_fff68b929994bfbd_2017-05-27         0
32015  air_fff68b929994bfbd_2017-05-28         0
32016  air_fff68b929994bfbd_2017-05-29         0
32017  air_fff68b929994bfbd_2017-05-30         0
32018  air_fff68b929994bfbd_2017-05-31         0

### Creating master dataset

In [149]:
master = air_visit_data.copy()
master.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [150]:
master = pd.merge(master, air_store_info, on='air_store_id')

In [151]:
master.head()

,air_store_id,visit_date,visitors,air_genre_name,air_area_name,latitude,longitude
0,air_ba937bf13d40fb24,2016-01-13,25,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
1,air_ba937bf13d40fb24,2016-01-14,32,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
2,air_ba937bf13d40fb24,2016-01-15,29,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
3,air_ba937bf13d40fb24,2016-01-16,22,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
4,air_ba937bf13d40fb24,2016-01-18,6,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [152]:
master.shape

(252108, 7)

In [153]:
len(master['air_store_id'].unique())

829

In [154]:
master.isnull().sum()

air_store_id      0
visit_date        0
visitors          0
air_genre_name    0
air_area_name     0
latitude          0
longitude         0
dtype: int64

In [155]:
master = pd.merge(master, date_info, on='visit_date')

In [156]:
master.drop(['latitude','longitude'],axis=1, inplace=True)

In [157]:
master.head()

,air_store_id,visit_date,visitors,air_genre_name,air_area_name,day_of_week,holiday_flg
0,air_ba937bf13d40fb24,2016-01-13,25,Dining bar,Tōkyō-to Minato-ku Shibakōen,Wednesday,0
1,air_25e9888d30b386df,2016-01-13,21,Izakaya,Tōkyō-to Shinagawa-ku Higashigotanda,Wednesday,0
2,air_fd6aac1043520e83,2016-01-13,40,Izakaya,Tōkyō-to Minato-ku Shibakōen,Wednesday,0
3,air_64d4491ad8cdb1c6,2016-01-13,5,Dining bar,Tōkyō-to Minato-ku Shibakōen,Wednesday,0
4,air_ee3a01f0c71a769f,2016-01-13,18,Cafe/Sweets,Shizuoka-ken Hamamatsu-shi Motoshirochō,Wednesday,0

In [158]:
master.shape

(252108, 7)

In [159]:
master.dtypes

air_store_id      object
visit_date        object
visitors           int64
air_genre_name    object
air_area_name     object
day_of_week       object
holiday_flg        int64
dtype: object

In [172]:
master['month'] = 0
for i, row in master.iterrows():
    vals  = row['visit_date'][5:7]
    master.at[i, 'month'] = vals

In [175]:
master['year'] = 0
for i, row in master.iterrows():
    vals  = row['visit_date'][:4]
    master.at[i, 'year'] = vals

In [182]:
mnth = pd.get_dummies(master['month'])
mnth.head()

   1   2   3   4   5   6   7   8   9   10  11  12
0   1   0   0   0   0   0   0   0   0   0   0   0
1   1   0   0   0   0   0   0   0   0   0   0   0
2   1   0   0   0   0   0   0   0   0   0   0   0
3   1   0   0   0   0   0   0   0   0   0   0   0
4   1   0   0   0   0   0   0   0   0   0   0   0

In [185]:
master = pd.concat([master, mnth], axis=1)

In [186]:
year = pd.get_dummies(master['year'])
year.head()

   2016  2017
0     1     0
1     1     0
2     1     0
3     1     0
4     1     0

In [187]:
master = pd.concat([master, year], axis=1)

In [190]:
dow = pd.get_dummies(master['day_of_week'])
master = pd.concat([master, dow], axis=1)

In [192]:
agn = pd.get_dummies(master['air_genre_name'])
master = pd.concat([master, agn], axis=1)

In [194]:
aan = pd.get_dummies(master['air_area_name'])
master = pd.concat([master, aan], axis=1)

In [196]:
master.head(2)

,air_store_id,visit_date,visitors,air_genre_name,air_area_name,day_of_week,holiday_flg,month,year,1,...,Ōsaka-fu Sakai-shi Minamikawaramachi,Ōsaka-fu Suita-shi Izumichō,Ōsaka-fu Ōsaka-shi Fuminosato,Ōsaka-fu Ōsaka-shi Kyōmachibori,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,Ōsaka-fu Ōsaka-shi Nakanochō,Ōsaka-fu Ōsaka-shi Nanbasennichimae,Ōsaka-fu Ōsaka-shi Shinmachi,Ōsaka-fu Ōsaka-shi Ōgimachi,Ōsaka-fu Ōsaka-shi Ōhiraki
0,air_ba937bf13d40fb24,2016-01-13,25,Dining bar,Tōkyō-to Minato-ku Shibakōen,Wednesday,0,1,2016,1,...,0,0,0,0,0,0,0,0,0,0
1,air_25e9888d30b386df,2016-01-13,21,Izakaya,Tōkyō-to Shinagawa-ku Higashigotanda,Wednesday,0,1,2016,1,...,0,0,0,0,0,0,0,0,0,0

In [198]:
# master.to_csv('train.csv',index=False)

### Test DF

In [162]:
test_df = sample.copy()

In [163]:
test_df.head(2)

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0

In [164]:
len(test_df)

32019

In [165]:
test_df['air_store_id'] = '0'
test_df['visit_date'] = '0'
test_df.columns

Index(['id', 'visitors', 'air_store_id', 'visit_date'], dtype='object')

In [166]:
for i, row in test_df.iterrows():
    var = row['id'].split('_')
    test_df.at[i,'air_store_id'] = var[0] +'_'+ var[1]
    test_df.at[i,'visit_date'] = var[2]

In [167]:
test_df = pd.merge(test_df, air_store_info, on='air_store_id')

In [168]:
test_df = pd.merge(test_df, date_info, on='visit_date')

In [169]:
test_df.drop(['latitude','longitude'],axis=1, inplace=True)

In [170]:
test_df.head(2)

,id,visitors,air_store_id,visit_date,air_genre_name,air_area_name,day_of_week,holiday_flg
0,air_00a91d42b08b08d9_2017-04-23,0,air_00a91d42b08b08d9,2017-04-23,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Sunday,0
1,air_0164b9927d20bcc3_2017-04-23,0,air_0164b9927d20bcc3,2017-04-23,Italian/French,Tōkyō-to Minato-ku Shibakōen,Sunday,0

In [200]:
test_df['month'] = 0
for i, row in test_df.iterrows():
    vals  = row['visit_date'][5:7]
    test_df.at[i, 'month'] = vals

test_df['year'] = 0
for i, row in test_df.iterrows():
    vals  = row['visit_date'][:4]
    test_df.at[i, 'year'] = vals

In [201]:
month = pd.get_dummies(test_df['month'])
test_df = pd.concat([test_df, month], axis=1)

year = pd.get_dummies(test_df['year'])
test_df = pd.concat([test_df, year], axis=1)

dow = pd.get_dummies(test_df['day_of_week'])
test_df = pd.concat([test_df, dow], axis=1)

agn = pd.get_dummies(test_df['air_genre_name'])
test_df = pd.concat([test_df, agn], axis=1)

aan = pd.get_dummies(test_df['air_area_name'])
test_df = pd.concat([test_df, aan], axis=1)

In [205]:
# test_df.to_csv('test.csv',index=False)

,air_store_id,visit_date,visitors,air_genre_name,air_area_name,day_of_week,holiday_flg,month,year,1,...,Ōsaka-fu Sakai-shi Minamikawaramachi,Ōsaka-fu Suita-shi Izumichō,Ōsaka-fu Ōsaka-shi Fuminosato,Ōsaka-fu Ōsaka-shi Kyōmachibori,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,Ōsaka-fu Ōsaka-shi Nakanochō,Ōsaka-fu Ōsaka-shi Nanbasennichimae,Ōsaka-fu Ōsaka-shi Shinmachi,Ōsaka-fu Ōsaka-shi Ōgimachi,Ōsaka-fu Ōsaka-shi Ōhiraki
38866,air_00a91d42b08b08d9,2016-07-01,35,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
39619,air_00a91d42b08b08d9,2016-07-02,9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Saturday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
40319,air_00a91d42b08b08d9,2016-07-04,20,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Monday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
40965,air_00a91d42b08b08d9,2016-07-05,25,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
41669,air_00a91d42b08b08d9,2016-07-06,29,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
42396,air_00a91d42b08b08d9,2016-07-07,34,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
43138,air_00a91d42b08b08d9,2016-07-08,42,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
43900,air_00a91d42b08b08d9,2016-07-09,11,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Saturday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
44612,air_00a91d42b08b08d9,2016-07-11,25,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Monday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
45264,air_00a91d42b08b08d9,2016-07-12,24,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
45964,air_00a91d42b08b08d9,2016-07-13,36,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
46679,air_00a91d42b08b08d9,2016-07-14,28,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
47431,air_00a91d42b08b08d9,2016-07-15,28,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
48185,air_00a91d42b08b08d9,2016-07-16,5,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Saturday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
48899,air_00a91d42b08b08d9,2016-07-19,25,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
49567,air_00a91d42b08b08d9,2016-07-20,19,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
50287,air_00a91d42b08b08d9,2016-07-21,47,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
51033,air_00a91d42b08b08d9,2016-07-22,53,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
51790,air_00a91d42b08b08d9,2016-07-23,16,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Saturday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
52502,air_00a91d42b08b08d9,2016-07-25,16,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Monday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
53150,air_00a91d42b08b08d9,2016-07-26,16,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
53862,air_00a91d42b08b08d9,2016-07-27,24,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
54582,air_00a91d42b08b08d9,2016-07-28,34,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
55331,air_00a91d42b08b08d9,2016-07-29,31,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
56094,air_00a91d42b08b08d9,2016-07-30,20,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Saturday,0,7,2016,0,...,0,0,0,0,0,0,0,0,0,0
56799,air_00a91d42b08b08d9,2016-08-01,16,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Monday,0,8,2016,0,...,0,0,0,0,0,0,0,0,0,0
57431,air_00a91d42b08b08d9,2016-08-02,24,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,8,2016,0,...,0,0,0,0,0,0,0,0,0,0
58127,air_00a91d42b08b08d9,2016-08-03,30,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,8,2016,0,...,0,0,0,0,0,0,0,0,0,0
58841,air_00a91d42b08b08d9,2016-08-04,30,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,8,2016,0,...,0,0,0,0,0,0,0,0,0,0
59586,air_00a91d42b08b08d9,2016-08-05,42,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,8,2016,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198274,air_00a91d42b08b08d9,2017-03-24,34,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,3,2017,0,...,0,0,0,0,0,0,0,0,0,0
199065,air_00a91d42b08b08d9,2017-03-25,7,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Saturday,0,3,2017,0,...,0,0,0,0,0,0,0,0,0,0
199799,air_00a91d42b08b08d9,2017-03-27,43,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Monday,0,3,2017,0,...,0,0,0,0,0,0,0,0,0,0
200486,air_00a91d42b08b08d9,2017-03-28,30,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,3,2017,0,...,0,0,0,0,0,0,0,0,0,0
201229,air_00a91d42b08b08d9,2017-03-29,52,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,3,2017,0,...,0,0,0,0,0,0,0,0,0,0
201968,air_00a91d42b08b08d9,2017-03-30,33,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,3,2017,0,...,0,0,0,0,0,0,0,0,0,0
202732,air_00a91d42b08b08d9,2017-03-31,38,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,3,2017,0,...,0,0,0,0,0,0,0,0,0,0
203521,air_00a91d42b08b08d9,2017-04-01,7,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Saturday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
204850,air_00a91d42b08b08d9,2017-04-03,33,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Monday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
205513,air_00a91d42b08b08d9,2017-04-04,17,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
206235,air_00a91d42b08b08d9,2017-04-05,35,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
206967,air_00a91d42b08b08d9,2017-04-06,29,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
207728,air_00a91d42b08b08d9,2017-04-07,17,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
208509,air_00a91d42b08b08d9,2017-04-08,9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Saturday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
209239,air_00a91d42b08b08d9,2017-04-10,17,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Monday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
209911,air_00a91d42b08b08d9,2017-04-11,43,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
210626,air_00a91d42b08b08d9,2017-04-12,28,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
211362,air_00a91d42b08b08d9,2017-04-13,34,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
212129,air_00a91d42b08b08d9,2017-04-14,39,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
214244,air_00a91d42b08b08d9,2017-04-17,19,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Monday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
214911,air_00a91d42b08b08d9,2017-04-18,35,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
215635,air_00a91d42b08b08d9,2017-04-19,17,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
216375,air_00a91d42b08b08d9,2017-04-20,38,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
217136,air_00a91d42b08b08d9,2017-04-21,55,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Friday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
217918,air_00a91d42b08b08d9,2017-04-22,18,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Saturday,0,4,2017,0,...,0,0,0,0,0,0,0,0,0,0
229112,air_00a91d42b08b08d9,2016-08-17,30,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,8,2016,0,...,0,0,0,0,0,0,0,0,0,0
229777,air_00a91d42b08b08d9,2016-08-18,20,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Thursday,0,8,2016,0,...,0,0,0,0,0,0,0,0,0,0
240308,air_00a91d42b08b08d9,2016-08-15,21,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Monday,1,8,2016,0,...,0,0,0,0,0,0,0,0,0,0
240813,air_00a91d42b08b08d9,2016-08-16,12,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Tuesday,0,8,2016,0,...,0,0,0,0,0,0,0,0,0,0
247442,air_00a91d42b08b08d9,2017-01-04,17,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Wednesday,0,1,2017,1,...,0,0,0,0,0,0,0,0,0,0