In [1]:
import pandas as pd
import numpy as np

In [2]:
ans = pd.read_csv('answer1.csv')
ans.head()

,id,visitors,air_store_id,visit_date,air_genre_name,air_area_name,day_of_week,holiday_flg,month,year,...,1,2,3,6,7,8,9,10,11,12
0,air_00a91d42b08b08d9_2017-04-23,13,air_00a91d42b08b08d9,2017-04-23,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,Sunday,0,4,2017,...,0,0,0,0,0,0,0,0,0,0
1,air_0164b9927d20bcc3_2017-04-23,7,air_0164b9927d20bcc3,2017-04-23,Italian/French,Tōkyō-to Minato-ku Shibakōen,Sunday,0,4,2017,...,0,0,0,0,0,0,0,0,0,0
2,air_0241aa3964b7f861_2017-04-23,15,air_0241aa3964b7f861,2017-04-23,Izakaya,Tōkyō-to Taitō-ku Higashiueno,Sunday,0,4,2017,...,0,0,0,0,0,0,0,0,0,0
3,air_0328696196e46f18_2017-04-23,10,air_0328696196e46f18,2017-04-23,Dining bar,Ōsaka-fu Ōsaka-shi Nakanochō,Sunday,0,4,2017,...,0,0,0,0,0,0,0,0,0,0
4,air_034a3d5b40d5b1b1_2017-04-23,14,air_034a3d5b40d5b1b1,2017-04-23,Cafe/Sweets,Ōsaka-fu Ōsaka-shi Ōhiraki,Sunday,0,4,2017,...,0,0,0,0,0,0,0,0,0,0

In [8]:
out1 = ans[['id','visitors']]
out1.head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23        13
1  air_0164b9927d20bcc3_2017-04-23         7
2  air_0241aa3964b7f861_2017-04-23        15
3  air_0328696196e46f18_2017-04-23        10
4  air_034a3d5b40d5b1b1_2017-04-23        14

In [11]:
out1.to_csv('out1.csv', index=False)